html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#side-menu {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#side-menu section {
  flex: 1;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 10px 10px 10px 10px;
}
#section-email {
  margin: 10px 0 0 0;
  background-color: #fffafa;
  background-size: cover;
}

#section-email h2 {
  color: #4499bb;
  padding: 0 0 8px 0;
  display: inline-block;
  margin: 0;
}

#section-email div {
  padding: 0 0 8px 0;
}
#messageText {
  min-height: 40px;
  min-width: 100px;
}

#main {
  flex: 2;
  padding: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1;
  background-color: white;
  padding: 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  display: none;
}

h1 {
  color: blue;
}

.endorcements {
  color: gray;
}

li.important {
  font-weight: bold;
}

li.important .endorcements {
  color: green;
}
